/* <-------------- Gray Colors --------------> */
/* <-------------- Main Colors --------------> */
/* <-------------- Gradient Colors --------------> */
/* <-------------- CSS Utility --------------> */
.cor-c1 {
  color: var(--c1);
}

.cor-c2 {
  color: var(--c2);
}

.cor-c3 {
  color: var(--c3);
}

.cor-c4 {
  color: var(--c4);
}

.cor-c5 {
  color: var(--c5);
}

.cor-c6 {
  color: var(--c6);
}

.cor-c7 {
  color: var(--c7);
}

.cor-c8 {
  color: var(--c8);
}

.cor-c9 {
  color: var(--c9);
}

.cor-c10 {
  color: var(--c10);
}

.cor-p1 {
  color: var(--p1);
}

.cor-p2 {
  color: var(--p2);
}

.cor-p3 {
  color: var(--p3);
}

.cor-p4 {
  color: var(--p4);
}

.font-1-xs {
  font: 400 1.2rem/1.33 'Poppins', sans-serif;
}

.font-2-xs {
  font: 400 1.4rem/1.5 'Roboto', sans-serif;
}

.font-1-s {
  font: 400 1.6rem/1.5 'Poppins', sans-serif;
}

.font-2-s {
  font: 400 1.6rem/1.5 'Roboto', sans-serif;
}

.font-1-m,
.font-1-m-b {
  font: 500 1.8rem/1.35 'Poppins', sans-serif;
}

.font-1-m-b {
  font-weight: 600;
}

.font-2-m {
  font: 500 1.8rem/1.35 'Roboto', sans-serif;
}

.font-1-l {
  font: 400 2.4rem/1.5 'Poppins', sans-serif;
}

.font-2-l,
.font-2-l-b {
  font: 400 2.4rem/1.5 'Roboto', sans-serif;
}

.font-2-l-b {
  font-weight: 600;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.font-1-xl {
  font: 600 3.2rem/1.25 'Poppins', sans-serif;
}

.font-2-xl {
  font: 500 3.2rem/1.25 'Roboto', sans-serif;
}

.font-1-xxl {
  font: 600 6.4rem/1.125 'Popppins', sans-serif;
}

@media screen and (max-width: 956px) {
  .font-1-xxl {
    font-size: 4.2rem;
  }
  .font-2-l,
  .font-2-l-b {
    font-size: 1.8rem;
  }
  .font-1-m,
  .font-2-m {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 768px) {
  .font-1-xxl {
    font-size: 3.6rem;
  }
  .font-1-xl,
  .font-2-xl {
    font-size: 2.4rem;
  }
  .font-2-l {
    font-size: 1.6rem;
  }
  .font-1-m {
    font-size: 1.6rem;
  }
}

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

a {
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: Min(95vw, 120rem);
  margin: 0 auto;
}

#header {
  background-color: #000000;
  color: #ffffff;
}

#header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  padding: 3.2rem 0;
}

#header .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.6rem 3.2rem;
}

#header .container ul li a {
  padding: 1.6rem 0;
}

#header .container ul li a::after {
  content: '';
  width: 0;
  height: 0.2rem;
  margin-top: 0.4rem;
  display: block;
  background-color: #ffffff;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

#header .container ul li a:hover::after {
  width: 100%;
}

@media (max-width: 956px) {
  #header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3.2rem;
  }
  #header .container ul li {
    padding: 1.2rem 2.8rem;
    border-radius: 0.4rem;
    color: #ffffff;
    background-color: #202020;
  }
  #header .container ul li:hover {
    background-color: #4d4d4d;
  }
  #header .container ul li a::after {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */