#tecnologias {
  background-color: $c1;

  box-shadow: inset 0 12rem 0 0 $c10, inset 0 -12rem 0 0 $c10;
}

#tecnologias .container {
  padding: 6rem 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

#tecnologias .tecnologias-texto {
  padding: 12rem 0.8rem;
}

#tecnologias .tecnologias-texto span {
  margin-bottom: 0.8rem;
}

#tecnologias .tecnologias-texto h2 {
  margin-bottom: 2.8rem;
}

#tecnologias .tecnologias-texto > p {
  margin-bottom: 4rem;
}

#tecnologias .tecnologias-texto a {
  margin-bottom: 6rem;
}

#tecnologias .tecnologias-vantagens {
  display: flex;
  gap: 4rem;
}

#tecnologias .tecnologias-vantagens img {
  margin-bottom: 0.4rem;

  width: 2.4rem;
}

#tecnologias .tecnologias-vantagens h3 {
  margin-bottom: 1.2rem;

  width: max-content;
}

#tecnologias .tecnologias-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

@media (max-width: 876px) {
  #tecnologias {
    box-shadow: none;
  }

  #tecnologias .container {
    grid-template-columns: 1fr;

    padding: 0;
  }

  #tecnologias .tecnologias-texto {
    padding: 4rem 0;
  }

  #tecnologias .tecnologias-texto > p {
    max-width: 60ch;
  }

  #tecnologias .tecnologias-image {
    display: none;
  }
}

@media (max-width: 600px) {
  #tecnologias .tecnologias-vantagens {
    flex-direction: column;
    gap: 2rem;
  }
}
