/* <-------------- Gray Colors --------------> */
$c1: #000000;
$c2: #202020;
$c3: #3a3a3a;
$c4: #4d4d4d;
$c5: #707070;
$c6: #989898;
$c7: #b8b8b8;
$c8: #e2e2e2;
$c9: #fafafa;
$c10: #ffffff;

/* <-------------- Main Colors --------------> */
$p1: #ffbf00;
$p2: #d69e11;
$p3: #a66a02;
$p4: #402d0a;

/* <-------------- Gradient Colors --------------> */
$gradient: linear-gradient(180deg, #ffbf00 0%, #f2a50b 100%);
$gradient-hover: linear-gradient(180deg, #ffb60d 0%, #daa100 100%);
