#bicicleta {
  background-color: $c2;

  padding: 6rem 0;
}

#bicicleta .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

#bicicleta .bicicleta-images {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

#bicicleta .bicicleta-images img {
  flex: 1;
  min-width: 22rem;

  object-fit: cover;
}

#bicicleta .bicicleta-images img:first-of-type {
  min-width: 100%;
}

#bicicleta .bicicleta-text > p {
  margin-bottom: 3.2rem;
}

#bicicleta .bicicleta-text .bicicleta-descritivo {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0.8rem 1.2rem;
  align-items: center;
  justify-items: start;

  margin-bottom: 4rem;
}

#bicicleta .bicicleta-text .bicicleta-descritivo a {
  grid-row: span 2;
}

#bicicleta .bicicleta-text .bicicleta-descritivo span {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  background-color: $c1;
  border-radius: 0.5rem;
  padding: 0.4rem 0.8rem;
}

#bicicleta .bicicleta-text > h2 {
  margin-bottom: 1.2rem;
}

#bicicleta .bicicleta-text .informacoes-list,
#bicicleta .bicicleta-text .ficha-list {
  background-color: $c1;
  padding: 3.2rem;
  border-radius: 0.5rem;
}

#bicicleta .bicicleta-text .informacoes-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;

  margin-bottom: 4rem;
}

#bicicleta .bicicleta-text .informacoes-list img {
  margin-bottom: 0.4rem;
}

#bicicleta .bicicleta-text .informacoes-list h3 {
  margin-bottom: 0.8rem;
}

#bicicleta .bicicleta-text .ficha-list li {
  display: flex;
  justify-content: space-between;

  border-bottom: 0.1rem solid $c2;
  padding: 0.4rem 0;
}

#bicicleta .bicicleta-text .ficha-list li:last-child {
  border: none;
}

@media (max-width: 867px) {
  #bicicleta {
    padding: 4rem 0;
  }

  #bicicleta .container {
    grid-template-columns: 1fr;
  }

  #bicicleta .bicicleta-images {
    grid-row: 2;
  }
}

@media (max-width: 600px) {
  #bicicleta .bicicleta-text .bicicleta-descritivo,
  #bicicleta .bicicleta-text .informacoes-list {
    grid-template-columns: 1fr;
  }
}
